h1 {
  font-family: verdana;
  text-align: center;
  font-size: 25px;
}

#all-sticks {
  margin-left: 15px;
}

.cat-slide-btn {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background: black;
  width: 180px;
  height: 67px;
  padding: 26px;
  border: 1px black solid;
  border-radius: 5px;
  margin-right: 22px;
}

.cat-slider-link {
  padding-bottom: 26px;
}

.cat-slide-btn:active {
  color: black;
  background: white;
  border: 3px #797979 solid;
  padding: 24px;
}

.cat-slide-btn:hover {
  color: lightgray;
}

.cat-slide-btn:active {
  color: black;
}

.stick-desc {
  font-size: 12px;
  font-family: verdana;
  max-width: 175px;
}

.dflt-styles {
  text-align: center;
  /* base style needed in case slick doesn't load */
  float: left;
}

/* removes blue focus on all elements for demo */

*:focus {
  outline: none;
}

@media screen and (max-width:1020px) {
  .cat-slide-btn {
    font-weight: bold;
    font-size: 12px;
    line-height: 10px;
    max-width: 130px;
    height: 50px;
    padding: 18px;
    border-radius: 5px;
    margin-right: 20px;
  }
  .stick-desc {
    font-size: 10px;
    font-family: verdana;
    max-width: 175px;
  }
  .cat-slide-btn:active {
    padding: 15px;
  }
  #all-sticks {
    margin-left: 20px;
  }
}

@media screen and (max-width:767px) {
  .cat-slide-btn {
    font-weight: bold;
    font-size: 11px;
    line-height: 2px;
    max-width: 120px;
    border-radius: 5px;
    margin-right: 20px;
    padding: 20px;
  }
  .stick-desc {
    font-size: 8px;
    font-family: verdana;
    max-width: 175px;
  }
  .cat-slide-btn:active {
    padding: 17px;
  }
  #all-sticks {
    margin-left: 0px;
  }
}
