h1 {
  font-family: verdana;
  text-align: center;
}

.stick-slide-btn {
  font-family: verdana;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background: black;
  width: 175px;
  padding: 26px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-right: 40px;
}

.stick-slide-btn:active{
  color: black;
  background: white;
  border: 2px #797979 solid;
}

.stick-desc {
  font-size: 12px;
  font-family: verdana;
  max-width: 175px;
}

.ctr-me {
  text-align: center;
}

/* removes blue focus on all elements for demo */
*:focus {
    outline: none;
}
